{% extends "user/layout.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-3">Change Password</h1>

    <!-- Change password form -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
            <form action="" method="POST">
                <div class="mb-2">
                    <label for="email"><b>Email Address</b></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="password"><b>New Password</b></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                </div>

                <button class="btn btn-success mt-2">Change</button>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
